.wizard-plan{
    display: flex;
    justify-content: center;
}

.wizard-plan__wrap{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 930px;
    height: 360px;
}

.wizard-plan__wrap-plan{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

.wizard-plan__plans{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.wizard-plan__title{
    font-size: 16px;
    margin: 12px 0;
    font-weight: 700;
}