.panel{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    flex: 1
}

.panel.panel--content{
    max-width: 740px;
}

.panel.panel--summary{
    max-width: 360px;
}
.panel.panel--card-price{
    max-width: 265px;
}

.jc-center{
    justify-content: center
}