.__summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%
}
.__footer{
    box-sizing: border-box;
    background-color: #222222;
    flex: 1;
    color: #FFF;
    padding: 30px 25px
}
.__footer.__details{
    line-height: 26px;
}

.__ul{
    padding-left: 1rem;
}

.__ul.__offer{
    margin: 0 0 40px 0
}

.__expand{
    display: flex;
    flex: 1;
    justify-content: space-between;
    line-height: 20px;
}

.__content .__details{
    text-align: center;
    color: #818181;

    margin-top: 8px;
}

.__wrapDetails{
    padding: 0 30px
}

.__title{
    padding: 30px;
    text-align: center;
    line-height: 26px
}